/* Add CSS Styling */

p {
    background-color: #FFCCCB;
    font-family: Verdana , DejaVu Sans, sans-serif;
}

#test1{
    color: blue;
    font-size: 36px;
}

.test2{
    font-size: 24px;
}

#test3{
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}