/* Add CSS Styling */

.intro,
.outro{
    font-family: Helvetica, 'Times New Roman', sans-serif;
    font-size: 28px;
}

/* We can group these two class selectors because even though they have different declarations, their font size, and family declarations are the same */


.intro{
    color: white;
    background-color: black;
}


.outro{
    background-color: yellow;
}

