/* Add CSS Styling */

.intro{
    color: white;
    background-color: black;
}


.outro{
    background-color: yellow;
}

/* I used button because both claases share the same element */

button{
    font-family: Helvetica, 'Times New Roman', sans-serif; 
}