/* Add CSS Styling */

.intro,
.outro{
    font-family: Helvetica, 'Times New Roman', sans-serif;
    font-size: 28px;
}



.intro{
    color: white;
    background-color: black;
}


.outro{
    background-color: yellow;
}

