/* Add CSS Styling */

.container .text{
    background-color: hsl(54, 100%, 56%);
    color: rgb(255, 0, 0);
    font-size: 20px;
    text-align: center;
}

/* This works because text is nestled inside container. Remember to add a space between classes, and a period at the beginning of each. */